P{
  margin-top:0;
  margin-bottom:0;
}

body{
  /*this style below will be inherited */
margin:0;
padding-top:100px;
padding-left:96px;
padding-right:24px;
background-color:rgb(255, 255, 255);
font-family:Roboto, Arial;

}
