.search-bar{
  margin-bottom: 10px;
  }

  .header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index:100;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:white;
  }

  .left-section{
    align-items:center;
    display:flex;
  }

  .hamburger{
    height:24px;
    margin-left:24px;
    margin-right:24px;
  }

  .youtube-logo{
    height:24px;
  }
  


  .middle-section{
    display:flex;
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
    align-items:center;
  }

  .search-bar{
  flex:1;
  height:36px;
  font-size:16px;
  padding-left:10px;
  border-radius:2px;
  border-top-right-radius:1px;
  border-bottom-right-radius:1px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset 1px 2px 3px rgba(0,0, 0, 0.05); 
  margin-top:6px;
  width:0;
  }

  .search-bar::placeholder{
  
  font-size:16px;

  }

  .search-button{
    height:39.34px;
    width:60px;
    background-color:rgb(240, 240, 240);
    border-width: 1px;
    border-style:solid;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    border-color:rgb(219, 216, 216);
    margin-left:-1px;
    margin-top:-4px;
    margin-right:10px;
   }

   .search-button,.voice-search-button 
   .upload-icon-container,
   .notifications-icon-container,
   .youtube-apps-icon-container{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

   }


   .search-button .tooltip, 
   .voice-search-button .tooltip,
   .upload-icon-container .tooltip{
    position:absolute;
    background-color:grey;
    color:white;
    padding:10px 4px 10px 4px;
    border-radius:5px;
    font-size:12px;
    bottom:-30px;
    opacity:0;
    transition:opacity 0.15;
    pointer-events:none;
    white-space:nowrap;

   }


   .notifications-icon-container .tooltip,
   .youtube-apps-icon-container .tooltip{
    position:absolute;
    background-color:grey;
    color:white;
    padding:10px 4px 10px 4px;
    border-radius:5px;
    font-size:12px;
    bottom:-50px;
    opacity:0;
    transition:opacity 0.15;
    pointer-events:none;
    white-space:nowrap;

   }



   .search-button:hover .tooltip,
   .voice-search-button:hover .tooltip,
   .upload-icon-container:hover .tooltip
   {
    opacity:1;

   }

   .notifications-icon-container:hover .tooltip,
   .youtube-apps-icon-container:hover .tooltip
   {
    opacity:1;

   }



  .search-icon{
    height:25px;

  }


  .voice-search-button{
    height: 40px;
    width:40px;
    border-radius:20px;
    border-style:none;
    margin-top:-4px;
    background-color:rgb(243, 243, 243);
  }

  .voice-search-icon{
    height:24px;
  }







  .right-section{
  width:180px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink:0;
  }



  .upload-icon{
   height:24px;


  }

  .youtube-apps-icon{
    height:24px;

  }

  .notifications-icon{
    height:24px;

  }
  


  .notifications-count{
    position: absolute;
    top:-2px;
    right:-2px;
    background-color:rgb(200, 0, 0);
    color:white;
    padding:2px 5px 2px 5px;
    font-size:10px;
    border-radius:11px;

  }

  .current-user-picture{
    height:32px;
    border-radius:16px;
    margin-right:20px;
  }