

.activity-buttons-div{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  margin-top:-30px;
  margin-bottom:30px ;
  margin-right:45px;

}

.all-button{
  background-color:black;
  color:white;
  font-family:Roboto, Arial;
  border:none;
  border-radius:8px;
  padding-top:10px ;
  padding-bottom:10px ;
  padding-left:9px;
  padding-right:9px;
  font-size:14px;
  font-weight: 500;

}


.activity-buttons{
  background-color: rgb(241, 239, 239) ;
  color:rgb(0, 0, 0);
  font-family:Roboto, Arial;
  border:none;
  border-radius:8px;
  padding-top:10px ;
  padding-bottom:10px ;
  padding-left:9px;
  padding-right:9px;
  font-size:14px;
  font-weight:500;
  
}


